#host=uxuanproduct.mysql.rds.aliyuncs.com
#port=3306
#username=haoqu_dev
#psw=rdsyaquuya6vvby
#database=haoqu_dev
#hive_database=formatlog
#hadoop_tracking_out_path=/user/work/trackingFormatLog

host=123.59.11.103
port=3306
username=root
psw=myHq6R%![r3MJ
database=haoqu_dev
hive_database=test
